/* Header */


.main_header{
    margin: 0 auto;
    width: 1440px;
    background-color: #2A9D8F;
    padding: 48px 130px;
}

.logo_frame{
    border-radius: 25px;
    display: inline-block;
    padding: 10px 12.98px 10.48px 13px ;
    background-color: #FFF;
    vertical-align: middle;
    margin-right: 357px;
}

/* navigation */
.navigation{
    display: inline-block;
    vertical-align: middle;
}
.navigation_ul li{
    display: inline-block;
}

.middle_nav_item{
    margin-inline: 45px;
}
.active{
    color: #FFF;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}
/* navigation */

.button{
    margin-left: 356px;
    border: #FFF;
    padding: 8px 16px;
    background-color: #FFF;
    color: #2A9D8F;
    font-family:'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;

}


/* Header */


/* Article */
.article1{
    margin: 200px auto;
    width: 780px;
}

.header_article{
    color: #4D4D4D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 62.4px */
    letter-spacing: 0.24px;
    margin-bottom: 60px;
}

.text_article{
    color: #656565;
    text-align: justify;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 0.1px;
}
.middle_p{
    margin-top: 60px;
}


/* Article */


/* Section 1*/
.section1{
    margin: auto;
    width: 1440px;
    padding: 80px 130px;
    background-color: #C2F3EE;
    margin-bottom: 200px;

}

.img_tree{
    vertical-align: top;
}

.section_div{
    width: 457px;
    word-wrap: break-word;
    display: inline-block;
    margin-left: 119px;
    vertical-align: top;

}


.header_section{
    margin-bottom: 27px;
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; /* 150% */
    letter-spacing: 0.16px;
    display: inline-block;
    
}

.text_section{
    color: #515151;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: 0.09px;

}


/* button */
.section_button{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    background-color: #2A9D8F;
    padding: 11px 16px;
    border: #FFF;
    margin: 45px 0;
    }


/* section 1 */


/* section 2 */
.section2{
    width: 1440px;
    margin: auto;
    padding: 0 130px;
    margin-bottom: 200px;
}
.bottom_margin{
    margin-bottom: 54px;
}

.section2_img{
    width: 580px;
    height: 278px;
}

.section2_card{
    display: inline-block;
    color: #535353;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 150% */
    letter-spacing: 0.12px;

}


.middle_margin{
    margin-left: 15px;
}


/* section 2 */


/* footer */
.footer{
    margin: auto;
    width: 1440px;
    background-color: #2A9D8F;
    padding: 90px 130px 148px 130px;

}



.footer_logo{
    width: 42.641px;
    height: 54.379px;
    flex-shrink: 0;
}

.bigger_logodiv{
    vertical-align: top;
    border-radius: 50px;
    border:3px solid white;
    display: inline-block;
    padding: 21.3px 27.64px 22.32px 27.72px ;
    background-color:#2A9D8F;
    vertical-align: middle;
    margin-right: 615px;
}

.div_column{
    line-height: 32px;
    vertical-align: top;
    display: inline-block;
}
.middle_column{
    margin-inline: 42px;
}
.column_header{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;
    margin-bottom: 21px;

}
.column_text{
    color: #FFF;
    font-family: 'Poppins', sans-serifs;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 27px; 150% */
    letter-spacing: 0.09px;
}

/* footer */